## {{ ansible_managed }}
## Always use 'visudo' to edit sudoer files:
# sudo -i visudo -f /etc/sudoers.d/passwordless-sudoers
## Single user:
# yourusername ALL = (ALL) NOPASSWD: ALL
## All users of a group:
# %unixgroup ALL = (ALL) NOPASSWD: ALL

{% for group in passwordless_sudo_groups %}
%{{ group }} ALL = (ALL) NOPASSWD: ALL
{% endfor %}

{% for user in passwordless_sudo_users %}
{{ user }}  ALL = (ALL) NOPASSWD: ALL
{% endfor %}
